*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    list-style: none;
}
html{
    scroll-behavior: smooth;
}
body{
    display: flex;
    flex-direction: column;
    height:100%;
    background-color: #e4e4e4;
    font-family:Arial, sans-serif; 
    
}
header{
    width: 100%;
    height:100px;
    background-color:#e3c7a8;
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px 100px;
    color: #e4e4e4;
    position: fixed;
    top: 0;
    left:0;
    z-index: 1000;
}
/*------LOGO------ */
.logo{
    height:80px; 
    width: 300px; 
    display: flex;
    align-items: center;
}
.logo img{
    height:80px;
   

}
.logo_texto{
    display: flex;
    flex-direction: column;
    line-height: 1;
}
.logo h1{
    font-family:20px;
    font-family:Anton;
    color:#40271e;
    font-size: 35px;

}
.logo h2{
    font-family:20px;
    font-family:Anton;
    color:#b14720;
    font-size: 30px;
}
/*--------MENU------- */
.menu{
    width:700px;
}
.menu ul{
    display: flex;
}

.menu ul li a{
padding: 10px 40px;
color: #40271e;
text-decoration: none;
font-family: Anton;
}
.menu ul li a:hover{
    text-decoration: underline;
}
/*--------SEÇÃO HOME------*/
.linha_home{
background-image:url('assets/img\ home\ \(2\).jpg');
background-size: cover;
width:100%;
height:100vh;
display: flex;
justify-content: center;
}
.container{
border: 1px solid black;
width: 1200px;
height: 100%;
padding-top:110px;
}
.linha{
    width: 100%;
    height: 100vh;
    background-color: #e4e4e4;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
}
.slogan{
    width: 50%;
    height: 60vh;
    
    justify-content: flex-end;
    margin:70px 0px 0px 500px;
}
.slogan h1{
    font-size: 100px;
    color:#f2e9db;
    font-family: Anton;
    text-align: center;
}

/*-----RODAPÉ-----*/
footer{
    width: 100%;
    height: 300px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4e4e4;
}
.col_rodape{
    width: 400px;
    height: 100%;
    border: 1px solid white;
}
/*------HAMBURGUER------*/
.linha_secao1{
background-color:#f2e9db;
width:100%;
height:100vh;
display: flex;
justify-content: center;
align-items: center;
}
.box{
    display: flex;
    background-color: aquamarine;
    width: 70%;
    height: 70vh;
    flex-wrap: wrap;
    justify-content: center;
    align-items:center;
    box-sizing: border-box;
    
}
/*------BEBIDAS------*/
.linha_secao2{
background-color:#f2e9db;
width:100%;
height:100vh;
display: flex;
justify-content: center;
}
/*------COMBOS------*/
.linha_secao3{
background-color:#f2e9db;
width:100%;
height:100vh;
display: flex;
justify-content: center;
}
/*------SOBREMESAS------*/
.linha_secao4{
background-color:#f2e9db;
width:100%;
height:100vh;
display: flex;
justify-content: center;
}